.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
  padding: 20px;
  font-family: sans-serif;
  text-align: center; /* Выравнивание текста по центру */
}

.name-input {
  margin-bottom: 10px;
}

.name-input label {
  margin-right: 10px;
}

.greeting {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Добавляем стили для выравнивания по центру для разделов */
.name-input,
.greeting,
.counter,
.login-control {
  width: 100%; /* Занимают всю ширину контейнера */
  max-width: 600px; /* Ограничиваем максимальную ширину */
  margin: 0 auto; /* Выравнивание по центру */
  margin-bottom: 20px; /* Отступ снизу */
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Занимает всю ширину body */
  min-height: 100vh; /* Занимает всю высоту body */
}
body {
  margin: 0;
}