/* Light theme (default) */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #d4d4d4;
  }

  .app-container {
    background-color: #252526;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  }

  .add-todo input[type="text"],
  .add-todo select,
  input[type="date"] {
    background-color: #333;
    color: #fff;
    border-color: #555;
  }

  .todo-list li {
    border-bottom-color: #333;
  }

  .todo-list .todo-info { /* Стили для информации в темной теме */
    color: #9e9e9e;
  }
}

/* Common styles for sections */
.name-input,
.greeting,
.counter,
.login-control,
.todo-list,
.add-todo {
  width: 100%;
  margin-bottom: 20px;
}

/* AddTodoForm styles */
.add-todo {
  display: flex;
  gap: 10px;
  width: 100%;
}

.add-todo input[type="text"],
.add-todo select {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.add-todo button {
  padding: 12px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.add-todo button:hover {
  background-color: #218838;
}

/* TodoList styles */
.todo-list ul {
  width: 100%;
  padding: 0;
}

.todo-list li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 10px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li > * {
  margin-right: 10px;
}

/* Button styles */
.todo-list button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.todo-list button:hover {
  background-color: #c82333;
}

.todo-list input[type="checkbox"] {
  margin: 0;
  transform: scale(1.2);
}

.todo-list .todo-info {
  opacity: 0; /* Скрываем элемент */
  transition: opacity 0.2s ease-in-out; /* Добавляем плавный переход */
}

.todo-list li:hover .todo-info {
  opacity: 1; /* Показываем элемент при наведении */
}

input[type="date"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}