/* Общие стили */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212; /* Темный фон */
  color: #fff; /* Светлый текст */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 600px; /* Уменьшаем ширину */
  margin: 20px;
  padding: 30px;
  background-color: #212121; /* Контейнер темнее фона */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Мягкая тень */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Растягиваем элементы на всю ширину */
}

/* Common styles for sections */
.name-input,
.greeting,
.counter,
.login-control,
.todo-list,
.add-todo {
  width: 100%;
  margin-bottom: 20px;
}

/* AddTodoForm styles */
.add-todo {
  display: flex;
  gap: 10px;
  width: 100%;
}

.add-todo input[type="text"],
.add-todo select,
input[type="date"] {
  flex-grow: 1;
  padding: 10px;
  border: none; /* Убираем рамки */
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #333; /* Более тёмный фон */
  color: #fff;
}

.add-todo button {
  padding: 10px 15px;
  border: none;
  background-color: #00bcd4; /* Teal цвет */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.add-todo button:hover {
  background-color: #0097a7; /* Более тёмный Teal */
}

/* TodoList styles */
.todo-list ul {
  width: 100%;
  padding: 0;
}

.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #333; /* Более тёмный разделитель */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px; /* Уменьшаем шрифт */
  font-weight: 300; /* Делаем шрифт более тонким */
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li > * {
  margin-right: 10px;
}

.todo-list button {
  background-color: #f44336; /* Красный цвет */
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.todo-list button:hover {
  background-color: #d32f2f; /* Более темный красный цвет */
}

.todo-list input[type="checkbox"] {
  margin: 0;
  transform: scale(1.2);
}

/* Скрываем и показываем информацию о задаче */
.todo-list .todo-info {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: none; /* Скрываем по умолчанию */
}

.todo-list li:hover .todo-info {
  opacity: 1;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: #fff;
}
.textToDo{
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
  /* --- Применяем новые стили для заголовка --- */
  font-family: 'Oswald', sans-serif;;
  color: #2A9D8F;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
